<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">create calendar</li>
      <li class="breadcrumb-item">add time slots</li>
    </ol>
  </nav>
  <hr>
<div id="slot_settings" x-data="{
    timezone_offset:0 , calendar_id:{{.calendar_id}}
}" x-init="timezone_offset = new Date().getTimezoneOffset()">
    <div>
     <h3><span class="badge bg-light text-dark">{{.calendar_name}}</span></h3> 
    </div>
    <form  hx-post="/api/v1/slots" hx-target="#slot_settings_table">
        <fieldset>
            <div>
                <label for="day_of_week" class="form-label" >select day</label>
                <select id="day_of_week" class="form-select" name="day_of_week">
                    <option>Monday</option>
                    <option>Tuseday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>
            <div>
                <label for="start_time" class="form-label" >start time</label>
                <input type="text" name="start_time" id="start_time" class="form-control">
                <span class="pure-form-message-inline">hh:mm</span>
            </div>
            <div>
                <label for="end_time" class="form-label" >end time</label>
                <input type="text" name="end_time" id="end_time" class="form-control">
                <span >hh:mm</span>
            </div>
            <div>
                <input type="hidden" name="calendar_id" id="calendar_id" x-model="calendar_id" class="form-control" style="pointer-events: none;background: grey;">
                <input type="hidden" name="calendar_time_offset" x-model="timezone_offset" class="form-control"  style="pointer-events: none;background: grey;">
            </div>
            <div>
            <button type="submit" class="btn btn-primary"> add </button>
            </div>
        </fieldset>
    </form>
</div>
<div id="slot_settings_table">
</div>