<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">create calendar</li>
      <li class="breadcrumb-item">add operational slots</li>
    </ol>
  </nav>
<div id="slot_settings">
    <form  hx-post="/api/v1/slots/settings" hx-target="#slot_settings_table">
        <fieldset>
            <div class="pure-control-group">
                <label for="day_of_week" class="form-label" >day of week</label>
                <select id="day_of_week" class="form-select" name="day_of_week">
                    <option>Monday</option>
                    <option>Tuseday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>
            <div>
                <label for="start_time" class="form-label" >start time</label>
                <input type="text" name="start_time" id="start_time" class="form-control">
                <span class="pure-form-message-inline">hh:mm</span>
            </div>
            <div>
                <label for="end_time" class="form-label" >end time</label>
                <input type="text" name="end_time" id="end_time" class="form-control">
                <span >hh:mm</span>
            </div>
            <div>
                <input type="text" name="calendar_id" id="calendar_id" class="form-control" value="{{.calendar_id}}">
            </div>

            <div>
            <button type="submit" class="btn btn-success"> add </button>
            </div>
        </fieldset>
    </form>
</div>
<div id="slot_settings_table">
</div>