<div class="row">

    <div class="col mx-auto">
        <form class="form mt-5" hx-get="/api/v1/calendars" hx-swap="outerHTML" style="max-width: 300px;" >
            <h3 class="mb-5">Search Calendar</h3>
            <fieldset>
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="text" name="user_email" id="user_email" class="input input-bordered w-full max-w-xs"
                        placeholder="enter email" />
                </div>
                <button class="btn btn-primary mt-5">search</button>
            </fieldset>
        </form>
    </div>
</div>