<div>
    <p> select date: </p>
    <table class="table">
        <tbody>
            {{range $i , $v := .Calendar  }}
            <tr>
                <td>
                     {{$v.WeekDay}} 
                </td>
                {{range $i, $value := $v.Days}}
                <td hx-get="/views/timeslots" hx-target="#timeslots_list">
                    <button class="btn">{{$value}}</button>
                </td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<div id="timeslots_list">
</div>