

<div class="grid md:grid-cols-3"
    x-data="{ open: false , selected_calendar:'',selected_calendar_id:'', selected_date:'', show_select_date:false , show_bookings_list:false , selected_day:'',selected_email:'{{.Email}}'}">
    <div id="calendars_view" x-show="!open" class="ml-5 ...">
        <ul class="steps mb-5">
            <li class="step step-primary">Select Calendar</li>
            <li class="step">Select Date</li>
            <li class="step">Create Booking</li>
          </ul>

        <table class="table table-hover table-striped">
            {{ range $i , $e := .Calendars}}
            <tr @click="open = true , selected_calendar='{{$e.CalendarName}}',selected_calendar_id='{{$e.ID}}'">
                <td> {{ $e.ID }}</td>
                <td>
                    <h6>{{ $e.CalendarName }}</h6>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <div id="select_calendar_date" x-show="open" class="ml-5 ...">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ul class="steps mb-5">
                    <li class="step step-primary">Select Calendar</li>
                    <li class="step step-primary">Select Date</li>
                    <li class="step">Create Booking</li>
                  </ul>
            <div>
                <div class="mt-5 mb-5">
                    <span>Selected Calendar Event </span>
                    <h5><span x-text="selected_calendar" class="badge badge-success"></span></h5>
                </div>
            </div>
            <h3>Select Date</h3>
                <div class="grid grid-cols-2 mt-5">
                    <div>
                        <span class="badge badge-primary">
                            {{.CurrentMonth}}
                        </span>
                    </div>
                    <div>
                        <a href="#">Next</a>
                    </div>
                </div>
                <div class="card bg-base-100 shadow-xl p-2" style="max-width: 300px;">
                    <table>
                        <tbody>
                            {{range $i , $v := .CurrentCalendar }}
                            <tr style="height: 40px;">
                                <td>
                                    {{$v.WeekDay}}
                                </td>
                                {{range $i, $value := $v.Days}}
                                <td>
                                    <a style="padding:5px;margin:2px;" class="bg-light"
                                        x-data="{selected_date:'{{$value.Date}}',selected_day:'{{$v.WeekDay}}'}"
                                        @click="getBookings , show_bookings_list=true">
                                        {{$value.Day}}
                                    </a>
                                </td>
                                {{end}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>

               
        </div>
    </div>
    <div class="... col-span-2 mt-10 p-5 ml-4">
        <div id="create_booking_result">
            {{.Msg}}
        </div>
        <div>
            <div id="timeslots_list" x-data="{bookings:[]}">
            </div>
        </div>
    </div>
    <script>
        async function getBookings(e) {
            let fetchPromise = await fetch("/bookings?calendar_id=" + this.selected_calendar_id + "&selected_date=" + this.selected_date + "&selected_day=" + this.selected_day)
            console.log(fetchPromise)
            fetchPromise.json().then((data) => {
                var bookingsHTML = ""
                bookingsHTML = bookingsHTML +
                    `<table class='table table-sm'>
                    <thead>   
                    <tr>
                            <th>id</th>
                            <th>start time</th>
                            <th>end time</th>
                            <th>status</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>`
                for (i = 0; i < data.length; i++) {
                    console.log(data[i].ID)
                    bookingsHTML = bookingsHTML +
                        `<tr>
                        <td>${data[i].ID}</td>
                        <td>${data[i].StartTime}</td>
                        <td>${data[i].EndTime}</td>`

                    if (data[i].Status == 'Available') {
                        bookingsHTML = bookingsHTML + `
                        <td><span class="text-success">${data[i].Status}</span></td>
                        <td>
                            <button class="btn btn-link btn-sm" x-on:click="createBooking(${this.selected_calendar_id},'${this.selected_date.toString()}','${String(data[i].StartTime)}','${String(data[i].EndTime)}','${this.selected_email}')">book</button>
                        </td>`
                    } else {
                        bookingsHTML = bookingsHTML + `
                        <td><span class="text-danger">${data[i].Status}</span></td>
                        <td>
            
                        </td>`
                    }

                    bookingsHTML = bookingsHTML + `</tr>`
                }
                bookingsHTML = bookingsHTML + `</tbody>
                                                </table>`
                document.getElementById('timeslots_list').innerHTML = bookingsHTML
            })
        }
        async function createBooking(calendar_id, selected_date, start_time, end_time, email) {
            request = `{
                "calendar_id":${calendar_id},
                "booking_date":"${selected_date}",
                "start_time":"${start_time}",
                "end_time":"${end_time}",
                "email":"${email}"
            }`;
            console.log(request)
            let fetchPromise = fetch("/bookings",
                {
                    method: "POST",
                    body: request,
                    headers: {
                        "Content-Type": "application/json",
                    }
                })

                if (fetchPromise.status == 200){
                    console.log("success")
                    document.getElementById('create_booking_result').innerHTML = `
                    <span>booking created successfully</span>
                    `
                }
        }
    </script>
</div>