<div class="row"
    x-data="{ open: false , selected_calendar:'',selected_calendar_id:'', selected_date:'', show_select_date:false , show_bookings_list:false}">
    <div id="calendars_view" class="col-md-6" x-show="!open">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Calendars</li>
            </ol>
        </nav>

        <table class="table table-hover table-striped">
            {{ range $i , $e := .Calendars}}
            <tr @click="open = true , selected_calendar='{{$e.CalendarName}}',selected_calendar_id='{{$e.ID}}'">
                <td> {{ $e.ID }}</td>
                <td>
                    <h6>{{ $e.CalendarName }}</h6>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <div id="select_calendar_date" class="col-md-6" x-show="open">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-primary"> <a
                            @click="open = false , selected_calendar=''"><span>Calendars</span></a> </li>
                    <li class="breadcrumb-item active">Date</li>
                </ol>
            </nav>
            <h6>selected calendar : </h6>
            <h4><span x-text="selected_calendar" class="bg-light text-dark"></span></h4>

            <div class="row">
                <h5>select date: </h5>
                <div class="col">
                    <h5>
                        <span class="badge bg-primary">
                            {{.CurrentMonth}}
                        </span>
                    </h5>
                </div>
                <div class="col">
                    <a href="#">Next</a>
                </div>
            </div>
            <table>
                <tbody>
                    {{range $i , $v := .CurrentCalendar }}
                    <tr style="height: 40px;">
                        <td>
                            {{$v.WeekDay}}
                        </td>
                        {{range $i, $value := $v.Days}}
                        <td>
                            <a style="padding:5px;margin:2px;" class="bg-light" x-data="{selected_date:'{{$value.Date}}'}"
                                @click="getBookings , show_bookings_list=true">
                                {{$value.Day}}
                        </a>
                        </td>
                        {{end}}
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div x-show="show_select_date">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-primary"> <a
                            @click="open = false , selected_calendar=''"><span>Calendars</span></a> </li>
                    <li class="breadcrumb-item text-primary">Date</li>
                    <li class="breadcrumb-item active">Bookings</li>
                </ol>
            </nav>
            <h6>select date : </h6>
            <span x-text="selected_date"></span>
        </div>
        <div  id="timeslots_list" x-data="{bookings:[]}" >
        </div>
    </div>
    <script>

        async function fetchBookings(e){
            let fetchPromise = await fetch("/bookings?calendar_id=" + this.selected_calendar_id + "&selected_date=" + this.selected_date)
            console.log(fetchPromise)
            fetchPromise.json().then((data) =>{
                return data
            })
        }

        async function getBookings(e) {
            let fetchPromise = await fetch("/bookings?calendar_id=" + this.selected_calendar_id + "&selected_date=" + this.selected_date)
            console.log(fetchPromise)
            fetchPromise.json().then((data) => {
                var bookingsHTML = ""
                bookingsHTML = bookingsHTML + 
                `<table class='table'>
                    <thead>   
                    <tr>
                            <th>Id</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>`
                for (i = 0; i < data.length; i++) {
                    console.log(data[i].ID)
                    bookingsHTML = bookingsHTML +
                        `<tr>
                        <td>${data[i].ID}</td>
                        <td>${data[i].StartTime}</td>
                        <td>${data[i].EndTime}</td>
                        <td>${data[i].Status}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" x-on:click="createBooking(${this.selected_calendar_id},'${this.selected_date.toString()}','${new Date(data[i].StartDateTime).toString()}','${new Date(data[i].EndDateTime).toString()}')">book</button>
                        </td>
                    </tr>`
                }
                bookingsHTML = bookingsHTML + `</tbody>
                                                </table>`
                document.getElementById('timeslots_list').innerHTML = bookingsHTML
            })
        }
        async function createBooking(calendar_id, selected_date, start_time, end_time , email) {
            request = `{
                "calendar_id":${calendar_id},
                "booking_date":"${selected_date}",
                "start_time":${start_time},
                "end_time":${end_time},
                "email":""
            }`;
            console.log(request)
            let fetchPromise = fetch("/bookings",
                {
                    method: "POST",
                    body: request,
                    headers: {
                        "Content-Type": "application/json",
                    }
                })
        }
    </script>
</div>