<div id="calendar_settings">
    <form class="pure-form pure-form-stacked">
        <fieldset>
        <label for="max_booking_time">max booking time per slot</label>
        <input type="text" name="max_booking_time" id="max_booking_time">
        <span class="pure-form-message">used when user creates booking on your calendar </span>
        <label for="auto_accept" class="pure-checkbox">
            <input type="checkbox" name="auto_accept" id="auto_accept"> auto accept
        </label>
        <button type="submit" class="button-success pure-button">submit</button>
        </fieldset>
    </form>
</div>