<div class="container-fluid" style="height: 86%;margin-top:10px;">
    <div class="row">
      <div class="col-md-6" style="padding:20px;margin-left: 10px;">
        <div id="main_div" class="pure-g main_continer">
          <div class="row">
            <div class="col-md-6">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">10</h5>

                  <h6 class="card-subtitle mb-2 text-muted">total calendars</h6>
                  <a href="#" class="card-link">view</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title">10</h5>
                  <h6 class="card-subtitle mb-2 text-muted">bookings in last 24 hours</h6>
                  <a href="#" class="card-link">view</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>