<div id="calendar_settings" x-data="timezone_offset:0"
    x-init="timezone_offset = new Date().getTimezoneOffset()" class="p-4">
    <h2>Create Calendar Event</h2>
    <div>
        <form hx-post="/api/v1/my/calendars" hx-target="#calendar_settings">
            <fieldset>
                <div class="form-control mt-5">
                    <label for="calendar_name">calendar name</label>
                    <input type="text" class="input input-bordered w-full max-w-xs" id="calendar_name"
                        name="calendar_name">
                </div>
                <div class="form-control mt-5">
                    <label for="slot_time" class="form-label">slot time (in mins)</label>
                    <input type="text" name="slot_time" id="slot_time" class="input input-bordered w-full max-w-xs">
                    <span class="pure-form-message">used when user creates booking on your calendar </span>
                </div>
                <div  class="form-control mt-5">
                    <label for="auto_accept"> auto accept </label>
                        <input type="checkbox" name="auto_accept" id="auto_accept" class="checkbox">
                </div>
                <div>
                    <input type="hidden" x-model="timezone_offset" name="local_time_offset">
                </div>
                <div class="mt-5">
                    <button class="btn btn-primary">Save and Next</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>