<html data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      font-family: "Roboto", sans-serif;
  font-weight: 400;
    }

    span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
    }

    .bg-light-gray {
      background-color: lightgray;
    }
    .cursor-ptr {
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .show {
      display: block;
    }
  </style>
</head>

<body>
  <div class="md:container md:mx-auto" id="main_container">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <img src="/images/logo.svg" width="200px">
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>
                {{.Email}}
              </summary>
              <ul class="p-2 bg-base-100 rounded-t-none">
                <li><a>Profile</a></li>
                <li><a hx-get="/user_logout" hx-target="#main_container">Logout </a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>  
    <div class="grid md:grid-cols-4">
      <div id="side_menu" class="...">
        <ul class="menu bg-base-200 w-56 rounded-box">
          <li>
            <h2>Calendar Events</h2>
            <ul>
              <li>
                <a class="dropdown-item" hx-get="/pages/my/calendars/create" hx-target="#main_div">Create Event</a>
              </li>
              <li>
                <a class="dropdown-item" hx-get="/pages/my/calendars/list" hx-target="#main_div">My Events</a>
              </li>
            </ul>
          </li>
          <li>
            <h2>Bookings</h2>
            <ul>
              <li><a hx-get="/pages/bookings" hx-target="#main_div">Create Booking</a></li>
              <li><a hx-get="/bookings/received" hx-target="#main_div">Received Bookings</a></li>
              <li><a hx-get="/my/bookings" hx-target="#main_div">My Bookings</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-span-3 ...">
        {{ template "content.html"}}
      </div>
    </div>
  </div>
</body>
</html>