<div x-data="" style="margin-top: 20px;">
    <h4>Received Bookings</h4>
    <div class="overflow-x-auto" style="padding: 20px;">
<table class="table table-zebra table-xs">
    <thead>
        <tr>
            <th>Id</th>
            <th>Calendar Name</th>
            <th>Created By</th>
            <th>Date(yyyy-mm-dd)</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{ range $i , $e := .Bookings}}
        <tr class="hover">
            <td>{{$e.ID}}</td>
            <td></td>
            <td></td>
            <td>{{$e.Date}}</td>
            <td>{{$e.StartTime}}</td>
            <td>{{$e.EndTime}}</td>
            <td>{{$e.Status}}</td>
            <td>
                <button class="btn btn-outline btn-success btn-sm">accept</button>
                <button class="btn  btn-outline btn-error btn-sm">reject</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
</div>
</div>