<!DOCTYPE html>
<html data-theme="light">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.9"
            integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
            crossorigin="anonymous"></script>
       
            <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
            <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        html,
        body {
          height: 100%;
          width: 100%;
          font-family: "Roboto", sans-serif;
      font-weight: 400;
        }
    
        span {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
        }
    </style>
    </head>
<body>
    <div class="flex items-center justify-center">
        <div class="card w-96 bg-base-100 shadow-xl mt-10 ml-5  flex items-center justify-center">
            <figure><img src="/images/logo.svg" width="210px"></figure>
            <div  class=" card-body m-auto">
                <div id="message" class="text-center"></div>
              <span>Register </span>
              <form class="form" action="/user/register" method="post">
                <fieldset>
                    <div class="form-control mt-5">
                        <label for="email">Name</label>
                        <input type="text" class="input input-bordered w-full max-w-xs" name="full_name" id="login_email">
                    </div>
                    <div class="form-control mt-5">
                        <label for="email">Email</label>
                        <input type="text" class="input input-bordered w-full max-w-xs" name="email" id="login_email">
                    </div>
                    <div class="form-control mt-5">
                        <label for="password">Password</label>
                        <input type="password" class="input input-bordered w-full max-w-xs" name="password">
                    </div>
                    <div class="form-control mt-5">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="input input-bordered w-full max-w-xs" name="password">
                    </div>
                    <div class="mt-5">
                        <button   class="btn btn-primary btn-block"> Register </button>
                    </div>
                    <div class="grid grid-cols-2 mt-5">
                           <div class="ml-5">
                            <a href="/login" class="link link-primary"> already user ? login </a>
                           </div>
                    </div>
                </fieldset>
            </form>
            </div>
          </div>
    </div>
</body>
</html>