<div class="p-4 mt-10">
    <h6>Time slots</h6>
    <div style="margin-top:20px;">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>id</th>
            <th>day</th>
            <th>start time</th>
            <th>end time</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {{range .SlotSettingsList}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.DayOfWeek}}</td>
                <td>{{.StartTime}}</td>
                <td>{{.EndTime}}</td>
                <td><button class="btn">  <img src="/images/remove.svg" width="20px"> </button></td>
            </tr>
        {{end}}
    </tbody>
    </table>
</div>
</div>