<div>
    <h3>select time slot:</h3>
    <table class="pure-table">
        <thead>
            <tr>
                <td>
                    Satrt
                </td>
                <td>
                    End
                </td>
                <td>
                    Status
                </td>
            </tr>
        </thead>
    {{ range $i , $e := .Timeslots}}
    <tr {{if $e.IsBooked }} class="booked_row" {{end}}>
        <td>{{$e.StartTime}}</td>
        <td>{{$e.EndTime}}</td>
        <td>{{if $e.IsBooked }}
            <span>Booked</span>
            {{else}}
            <button class="pure-button button-success">Book</button>
            {{end}}
        </td>
    </tr>
    {{end}}
</table>
</div>