<legend>select time</legend>
<div>
    <table class="table">
        <thead>
            <tr style="border-bottom: solid 1px;">
                <td style="padding-left:10px;">
                    start-time
                </td>
                <td style="padding-left:10px;">
                    end-time
                </td>
                <td style="padding-left:10px;">
                    status
                </td>
            </tr>
        </thead>
    {{ range $i , $e := .Timeslots}}
    <tr {{if $e.IsBooked }} class="booked_row" {{end}} style="border-bottom: solid 1px;" >
        <td style="padding-left:10px;">{{$e.StartTime}}</td>
        <td style="padding-left:10px;">{{$e.EndTime}}</td>
        <td style="padding-left:10px;">{{if $e.IsBooked }}
            <span>booked</span>
            {{else}}
            <button class="btn btn-primary">book</button>
            {{end}}
        </td>
    </tr>
    {{end}}
</table>
</div>