<div class="row">
<div id="calendars_view" class="p-4">
    <h6> Active calendars</h6>

    {{ range $i , $e := .Calendars}}
    <div class="stats shadow mt-10">
        <div class="stat" style="cursor: pointer;" hx-get="/api/v1/calendars/{{$e.ID}}/slots" hx-target="#slots_view">
          <div class="stat-title">{{ $e.ID }}</div>
          <div class="text-xl text-primary">
            <h1>
            {{ $e.CalendarName }}
          </h1>
        </div>
          <div class="stat-desc">slot time : 45 mins</div>
        </div>
    </div>
    {{end}}
</div>
<div class="col-md-8" id="slots_view">
</div>
</div>